/* Centered Bookmarks Only */

/* Центрирование панели закладок */
#PersonalToolbar {
    justify-content: center !important;
}

#PlacesToolbarItems {
    justify-content: center !important;
}